@import '../../../../../dist/scss/variables.scss';


:host {
  display: flex;
  justify-content: center;
  margin-top: -20px;

  input{
    width: 80%;

    border: none;
    background: $tertiary-background-color;

    font-size: 16px;
    color: $secondary-text-color;
    text-align: center;

    padding: 10px;
    box-sizing: border-box;

    &::placeholder{
      color: $secondary-text-color;
    }
  }
}
