@import '../../../../../dist/sass/variables.scss';


:host{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top:20px;
}

button{
  border: none;
  border-radius: 50px;
  background: $danger-color;

  font-size: 16px;
  color: $primary-text-color;

  width: 60%;
  padding: 10px;
}
