@import '../../../../../dist/scss/variables.scss';

section{
  width: 100%;
  min-height: 250px;

  background: $secondary-background-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

  margin-top: 20px;

  &.loading{
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  ul{
    padding: 20px;

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 10px;

      input{
        &[type="checkbox"]{
          width: 5%;
        }
        &[type="text"]{
          width: 80%;
          padding: 5px 10px;
          border: none;

          font-size: 16px;
          color: $primary-text-color;
          &.checked{
            text-decoration: line-through;
          }
        }
      }

      button{
        width: 5%;
        background: none;
        border: none;
      }
    }
  }
}
