<section [ngClass]="{'loading': !taskList.length }">

  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" (keyup)="validationInput(item.task, i)" [(ngModel)]="item.task"
        [ngClass]="{'checked': item.checked}">

      <button (click)="deleteItemTaskList(i)">
        <img src="assets/icons/icon-trash.svg">
      </button>
    </li>
  </ul>

</section>

<app-todo-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>
