@import './dist/scss/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: 400;
}

body{
  background: $primary-background-color;
}

ul{
  list-style: none;
}

textarea:focus, input:focus, button{
  outline: none;
}

button{
  cursor: pointer;
}

//Classes
.container{
  width: 350px;
  margin: 50px auto;
}
